<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Create Account</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{css/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{css/light-bootstrap-dashboard.css}" rel="stylesheet"/>
    <link th:href="@{css/custom/main.css}" rel="stylesheet"/>
    <link th:href="@{css/custom/create-client.css}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link th:href="@{css/pe-icon-7-stroke.css}" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div th:replace="sections/sidebar :: sidebar"></div>

        <div class="main-panel">
            <div th:replace="sections/navbar :: navbar"></div>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-user">
                                <div class="card-header">
                                    <h4 class="card-title">Client Information</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Full name</label>
                                                <input type="text" class="form-control" placeholder="Enter full name" value="" id="userFullName">
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-1">
                                            <div class="form-group">
                                                <label>Phone number</label>
                                                <input type="text" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                       placeholder="Enter phone number" value="" id="userPhoneNumber">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 px-1">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" class="form-control" placeholder="Enter username" value="" id="userUsername">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 px-1">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control" placeholder="Enter password" value="" id="userPassword">
                                            </div>
                                        </div>
                                        <div class="col-md-6 pr-1">
                                            <div class="form-group">
                                                <label>Confirm Password</label>
                                                <input type="password" class="form-control" placeholder="Confirm your password" value="" id="userConfirmPassword" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 create-user-btn-group" style="display: flex; justify-content: flex-end; margin-bottom: 2rem;">
                                            <button type="button" class="btn btn-main" id="btnCreateUser">Create Account</button>
                                            <button type="button" class="btn btn-main-cancel" id="btnCancelCreateUser">Cancel</button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="sections/footer :: footer"></div>
        </div>
    </div>

    <script type="application/javascript" th:src="@{js/jquery.3.2.1.min.js}"></script>
    <script type="application/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <script type="application/javascript" th:src="@{js/bootstrap-notify.js}"></script>
    <script type="application/javascript" th:src="@{js/light-bootstrap-dashboard.js}"></script>

    <script type="application/javascript" th:src="@{js/custom/rest.js}"></script>
    <script type="application/javascript" th:src="@{js/custom/common-api.js}"></script>
    <script type="application/javascript" th:src="@{js/custom/common.js}"></script>
    <script type="application/javascript" th:src="@{js/custom/constant.js}"></script>
    <script type="application/javascript" th:src="@{js/custom/create-client.js}"></script>
</body>
</html>
