<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Home</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{css/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{css/light-bootstrap-dashboard.css}" rel="stylesheet"/>
    <link th:href="@{css/Chart.min.css}" rel="stylesheet"/>
    <link th:href="@{css/custom/main.css}" rel="stylesheet"/>
    <link th:href="@{css/custom/dashboard.css}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link th:href="@{css/pe-icon-7-stroke.css}" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div th:replace="sections/sidebar :: sidebar"></div>

        <div class="main-panel">
            <div th:replace="sections/navbar :: navbar"></div>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">List User And Host</h4>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>#No</th>
                                            <th>Full Name</th>
                                            <th>Username</th>
                                            <th>Domain Name</th>
                                            <th>Status</th>
                                            <th></ht>
                                        </thead>
                                        <tbody id="userList" style="overflow-y: auto; max-height: 75vh;"><!-- List User Information --></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Analysis Log Of Active VHost</h4>
                                </div>
                                <div class="card-body" style="padding-bottom: 2rem;">
                                    <div id="canvas-holder">
                                        <canvas id="chart-area"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="sections/footer :: footer"></div>
        </div>
    </div>

    <script type="application/javascript" th:src="@{js/jquery.3.2.1.min.js}"></script>
    <script type="application/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <script type="application/javascript" th:src="@{js/bootstrap-notify.js}"></script>
    <script type="application/javascript" th:src="@{js/Chart.min.js}"></script>
    <script type="application/javascript" th:src="@{js/ChartUtils.js}"></script>
    <script type="application/javascript" th:src="@{js/light-bootstrap-dashboard.js}"></script>

    <script type="application/javascript" th:src="@{js/custom/rest.js}"></script>
    <script type="application/javascript" th:src="@{js/custom/common-api.js}"></script>
    <script type="application/javascript" th:src="@{js/custom/common.js}"></script>
    <script type="application/javascript" th:src="@{js/custom/constant.js}"></script>
    <script type="application/javascript" th:src="@{js/custom/dashboard.js}"></script>
</body>
</html>
